/* 2. Información del comic*/
#info-comic {
  position: fixed;
  z-index: 80;
  top: 0px;
}
h3 {
  text-transform: capitalize;
}

/* 2.1 Botón de EXIT */
#exit-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 51;
  top: 30px;
  right: 30px;
}
#exit-icon:hover {
  cursor: pointer;
}

/* 2.2 Fondo oscuro*/
#info-comic-background {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);
  opacity: 0.8;
}

/* 2.3 Caja descripción*/
/* Portada del comic */
#portada-grande {
  top: 0;
  width: 380px;
  height: 580px;
  margin-top: 0;
  margin-right: 20px;
  background-color: black;
}

/* Contenedor de la descripción*/
#info-comic-text {
  font-family: "Rubik", sans-serif;
  position: fixed;
  z-index: 50;
  color: white;
  display: flex;
  margin-top: 80px;
  padding-left: 5%;
  padding-right: 15%;
}

/* Información del comic */
h3 {
  font-size: 40px;
}

#info-comic-text div b {
  font-size: 20px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
#info-comic-text div p {
  font-size: 17px;
  padding-left: 10px;
}

#info-comic-text button {
  font-size: 20px;
  color: white;
  background-color: rgb(57, 126, 57);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
#info-comic-text button:hover {
  cursor: pointer;
  background-color: rgb(66, 168, 80);
}
